* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: 'Barlow', sans-serif;
}

/*HEADER*/

#banner {
  background-image: url('../images/image-header.jpg');
  background-position: center;
  background-size: contain;
  min-height: 100vh;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
}

.logo {
  margin-left: 1.9rem;
}

.menu .menu-links ul {
  display: flex;
}

.menu .menu-links li {
  list-style-type: none;
}

.menu .menu-links a {
  text-decoration: none;
  color: #fff;
  margin-right: 40px;
  font-size: 20px;
}

.menu .menu-links .active {
    background-color: #FFF;
    padding: 10px 15px;
    color:#000;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.banner-title {
  display: flex;
  flex-direction: column;
}

.banner-title h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Fraunces',sans-serif;
  font-size: 50px;
  color: #FFF;
  letter-spacing: 10px;
  margin-top: 50px;
  margin-bottom: 130px;
}

.arrow-area {
  margin: auto;
  height: 40px;
}

.banner-title .arrow {
      animation-name: arrow;
      animation-duration: 2s;
      animation-iteration-count: infinite;
}

@keyframes arrow {
  0% {
    margin-top: 0px;
  }

  50% {
    margin-top: 20px;
  }

  100% {
    margin-top: 0px;
  }
}

/*MAIN*/

.area1,
.area2,
.area3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.area1--title,
.area2--title {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 120px;
  flex-direction: column;
}

.area1--title h3,
.area2--title h3 {
  font-family: 'Fraunces',sans-serif;
  font-weight: 900;
  font-size: 45px;
  margin-bottom: 30px;
}

.area1--title p,
.area2--title p {
  margin-bottom: 30px;
  line-height: 30px;
  font-size: 22px;
  color: #b3b2b8;
}

.area1--title a,
.area2--title a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-family: 'Fraunces',sans-serif;
  font-weight: 700;
}

.area1--title a {
  border-bottom: 3px solid #fed201;
}

.area2--title a {
  border-bottom: 3px solid #ff7062;
}

.area1--img img,
.area2--img img {
  width: 100%;
  height: 100%;
}

.area3--img1 {
  background-image: url('../images/image-graphic-design.jpg');
}

.area3--img2 {
  background-image: url('../images/image-photography.jpg');
}

.area3--img1,
.area3--img2 {
  background-position: center;
  background-size: cover;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.area3--title1,
.area3--title2 {
  width: 50%;
  margin-bottom: 100px;
}

.area3--title1 h3,
.area3--title2 h3 {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Fraunces',sans-serif;
  font-weight: 900;
  font-size: 30px;
}

.area3--title1 h3 {
  color: #185246;
}

.area3--title2 h3 {
  color: #155d7f;
}

.area3--title1 p,
.area3--title2 p {
  text-align: center;
  line-height: 30px;
  font-size: 18px;
}

.area3--title1 p {
  color: #185246;
}

.area3--title2 p {
  color: #155d7f;
}