* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: 'Barlow', sans-serif;
}

/*HEADER*/

#banner {
  background-image: url('../images/image-header.jpg');
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

.mobile-menu {
  display: none;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
}

.logo {
  margin-left: 1.9rem;
}

.menu .menu-links ul {
  display: flex;
}

.menu .menu-links li {
  list-style-type: none;
}

.menu .menu-links a {
  text-decoration: none;
  color: #fff;
  margin-right: 40px;
  font-size: 20px;
}

.menu .menu-links .active {
    background-color: #FFF;
    padding: 10px 15px;
    color:#000;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.banner-title {
  display: flex;
  flex-direction: column;
}

.banner-title h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Fraunces',sans-serif;
  font-size: 50px;
  color: #FFF;
  letter-spacing: 10px;
  margin-top: 50px;
  margin-bottom: 80px;
}

.arrow-area {
  margin: auto;
  height: 20px;
}

.banner-title .arrow {
      animation-name: arrow;
      animation-duration: 2s;
      animation-iteration-count: infinite;
}

@keyframes arrow {
  0% {
    margin-top: 0px;
  }

  50% {
    margin-top: 20px;
  }

  100% {
    margin-top: 0px;
  }
}

/*MAIN*/

.area1,
.area2,
.area3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.area1--title,
.area2--title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px;
  flex-direction: column;
}

.area1--title h3,
.area2--title h3 {
  font-family: 'Fraunces',sans-serif;
  font-weight: 900;
  font-size: 45px;
  margin-bottom: 30px;
}

.area1--title p,
.area2--title p {
  margin-bottom: 30px;
  line-height: 30px;
  font-size: 22px;
  color: #b3b2b8;
}

.area1--title a,
.area2--title a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-family: 'Fraunces',sans-serif;
  font-weight: 700;
}

.area1--title a {
  border-bottom: 3px solid #fed201;
}

.area2--title a {
  border-bottom: 3px solid #ff7062;
}

.area1--img img,
.area2--img img {
  width: 100%;
  height: 100%;
}

.area3--img1 {
  background-image: url('../images/image-graphic-design.jpg');
}

.area3--img2 {
  background-image: url('../images/image-photography.jpg');
}

.area3--img1,
.area3--img2 {
  background-position: center;
  background-size: cover;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.area3--title1 {
  width: 80%;
  padding-bottom: 50px;
}

.area3--title2 {
  width: 60%;
  padding-bottom: 50px;
}

.area3--title1 h3,
.area3--title2 h3 {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Fraunces',sans-serif;
  font-weight: 900;
  font-size: 30px;
}

.area3--title1 h3 {
  color: #185246;
}

.area3--title2 h3 {
  color: #155d7f;
}

.area3--title1 p,
.area3--title2 p {
  text-align: center;
  line-height: 30px;
  font-size: 18px;
}

.area3--title1 p {
  color: #185246;
}

.area3--title2 p {
  color: #155d7f;
}

.area--testimonials {
  padding: 130px;
}

.testimonials {
  display: flex;
  flex-direction: column;
  margin:30px;
  padding: 20px;
}

.testimonials img {
  width: 178px;
  border-radius: 50%;
  margin: 30px auto;
}

.area--testimonials h3 {
  text-align: center;
  color: #b3b2b8;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
  font-family: 'Fraunces',sans-serif;
  margin-bottom: 30px;
}

.group-testimonials {
  display: flex;
}

.testimonials .testimony {
  color: #555;
  margin-bottom: 40px;
  line-height: 30px;
  text-align: center;
}

.testimonials .name {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 900;
  font-family: 'Fraunces',sans-serif;
}

.testimonials .job {
  text-align: center;
  color: #b3b2b8;
}

.area--images {
  display: flex;
}

.image img {
  max-width: 100%;
  height: 100%;
}

#rodape {
  background-color: #90d4c5;
  padding: 130px;
}

.logo-rodape img {
   filter: invert(44%) sepia(31%) saturate(626%) hue-rotate(117deg) brightness(87%) contrast(89%);
   margin-bottom: 40px;
}

.menu-rodape {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-rodape .menu-rodape-links ul {
  display: flex;
}

.menu-rodape .menu-rodape-links li {
  list-style-type: none;
}

.menu-rodape .menu-rodape-links a {
  text-decoration: none;
  color: #185246;
  margin-right: 40px;
  font-size: 20px;
}

.social-media {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.social-media .icon {
  margin-left: 30px;
}

.social-media .icon img {
  width: 30px;
}

.attribution {
  text-align: center;
  background-color: #000;
  padding: 40px;
  color: #fff;
  font-size: 20px;
}

.attribution a {
  text-decoration: none;
  color: #555
}

@media(min-width:650px) and (max-width:930px) {

  .area1--title,
  .area2--title {
    padding: 50px;
  }

  .area3--title1,
  .area3--title2 {
    margin-bottom: 20px;
    width: 100%;
    padding: 20px;
  }

  .area1--title h3,
  .area2--title h3 {
    font-size: 30px;
  }

  .area1--title p,
  .area2--title p {
    font-size: 18px;
  }

  .area3--img1,
  .area3--img2 {
    height: 50vh;
  }

  .area--testimonials {
    padding: 100px;
  }

  .group-testimonials {
    flex-direction: column;
    padding: 50px;
  }

  .testimonials {
    margin:0px;
    padding: 0px;
  }
}

@media(min-width:0px) and (max-width:650px) {

  .mobile-menu {
    display: block;
    margin: 30px;
  }

  .banner-title h1 {
    font-size: 30px;
  }

    .menu-links {
      display: none;
    }

    .area1,
    .area2,
    .area3 {
      grid-template-columns: 1fr;
    }

    .area1--title,
    .area2--title {
      text-align: center;
      padding: 60px 30px;
    }

    .area1--title h3 {
      font-size: 30px;
    }

    .area2--title h3 {
      font-size: 30px;
    }

    .area1--img {
      grid-row: 1 /2;
    }

    .area2--img {
      grid-row: 1 / 2;
    }
   
   .area3--title1 {
     margin-bottom: 100px;
}

.area--testimonials {
   padding: 0px;
}

.group-testimonials {
  flex-direction: column;
  width: 100%;
}

.area--testimonials h3 {
  margin-top: 30px;
}

.area--images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

}